<h1 class="text-center mt-4">Add a category</h1>
<div class="container">

  <div class="row justify-content-center m-0">
      <div class="col-lg-10 col-sm-12">
  <%= render 'shared/errors', obj: @category %>

        <%= form_with(model: @category, class: "shadow p-3 mb-3 rounded", local: true) do |f| %>
        <div class="row">
            <%= f.label :names, class: "col-2 col-form-label" %>
            <div class="col-10">
              <%= f.text_field :names, class: "form-control shadow-sm rounded", placeholder: "Enter a name" %>
            </div>
          </div>
          <br>
          <div class=" text-center">
            <%= f.submit ,class: "btn btn-primary" %>
            <%= link_to 'Cansel', articles_path, class: "btn btn-secondary ", type: "button" %>
          </div>
        <% end %>
      </div>
      
    </div>
  </div> 
</div>
